.tableClass{
    background-color: gray;
}

.apuestas{
    color: blue;
    font-size: 16pt;
}

a{
    margin: 15px;
}

a:hover{
    background-color: green;
}

h3{
    color: red;
}

body{
    background-color: silver;
}
